<template>
  <div class="app basic-dom-renderer">
    <div class="select-renderer">
      <select v-model="rendererType" >
        <option value="canvas">Canvas renderer</option>
        <option value="svg">SVG with D3 renderer</option>
        <option value="regl">WebGL renderer using regl</option>
      </select>
    </div>

    <heatmap v-bind:options="gridplanOptions" v-bind:data="data" class="randomHeatmap" v-bind:rendererType="rendererType" v-on:after-render="onRender"></heatmap>

    <color-slider v-bind:min="0" v-bind:max="100" v-bind:colorScale="colorScale" v-on:slider-update="handleSliderChange" class="color-slider"></color-slider>
    <div class="stats">
      <div class="stat">
        <div class="stat_label">TOTAL POINTS</div>
        <div class="stat_value">{{formattedTotalPoints}}</div>
      </div>
      <div class="stat">
        <div class="stat_label">Cells rendered</div>
        <div class="stat_value">{{renderedCellCount}}</div>
      </div>
      <div class="stat">
        <div class="stat_label">Visible indices</div>
        <div class="stat_value">
          Xaxis: {{visibleIndices.xStart}} - {{visibleIndices.xStart+visibleIndices.xCount}}
          <br>
          Yaxis: {{visibleIndices.yStart}} - {{visibleIndices.yStart+visibleIndices.yCount}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import { random } from 'lodash'
import crossfilter from 'crossfilter2'
import ColorRangeSlider from '@/js/color-range-slider/ColorRangeSlider.vue'
import Heatmap from '@/js/grid-plan-renderer/GridPlanRenderer.vue'

export default {

  data() {
    return {
      // Grid plan instance
      options : {
        viewPortSize  : 500,
        cellCount : 40,
        cellSize : 20,
        offset : 200,
      },
      data : [],
      colorScale : undefined,
      rendererType : 'svg',
      renderedCellCount : 0,
      visibleIndices : {}
    }
  },

  components: {
    'color-slider': ColorRangeSlider,
    'heatmap': Heatmap,
  },

  computed: {
    gridplanOptions() {
      return {
        viewPortWidth  : this.options.viewPortSize,
        viewPortHeight : this.options.viewPortSize,
        cellSize : this.options.cellSize,
        rows: this.options.cellCount,
        columns : this.options.cellCount,
        defaultOffset: {
          x: this.options.offset,
          y: this.options.offset
        }
      }
    },

    totalPoints() {
      return this.options.cellCount*this.options.cellCount;
    },

    formattedTotalPoints() {
      return d3.format(",")(this.options.cellCount*this.options.cellCount);
    },

    formattedRenderedCells() {
      return d3.format(",")(this.renderedCells);
    },
  },

  created() {
    // Create color scale
    this.colorScale = d3.scaleSequential(d3.interpolateCool).domain([1,100]);

    // Generate random values between 0 and 100 for each point
    let randomData = d3.range(this.totalPoints).map((val,index) => {
      let similarity = random(100);
      return {
        similarity : similarity,
        index      : index,
        color      : this.splitRGBString(this.colorScale(similarity)),
        hexColor   : this.colorScale(similarity),
        x          : 0,
        y          : 0,
      }
    });

    this.rawData = crossfilter(randomData);
    this.similarityDimension = this.rawData.dimension(data => data.similarity);
    this.similarityDimension.filter(Infinity);
    this.data = this.rawData.all();
  },

  methods: {
    handleSliderChange(newRange) {
      this.similarityDimension.filter(d => {
        return (d >= newRange.begin && d<= newRange.end)
      });

      this.data = this.rawData.allFiltered();
    },

    onRender(model,visibleCells) {
      this.renderedCellCount = visibleCells.length;
      this.visibleIndices = model.visibleIndices;
    },

    /**
     * Convert a valid RGB string to an array of integers
     * Example "rgb(107, 69, 180)" => [107,69,180]
     *
     * TODO: Eliminate this function, because after profiling it turned out it takes to much time
     */
    splitRGBString(rgbString){
      return rgbString.replace(/[^\d,]/g, '').split(',');
    }
  }

}
</script>

<style lang="scss">
  body, html {
    padding: 0;
    margin: 0;
  }
  .app {
    margin: 20px;
    font-size: 20px;
  }
  .color-slider {
    width: 500px;
    margin: 10px auto;
    height: 25px;

  }
  .select-renderer  {
    margin: 20px auto;
    text-align: center;
  }
  .randomHeatmap {
    margin: auto;
  }
  .stats {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 13px;
    font-family: Helvetica;
    .stat {
      margin-bottom: 10px;
    }
    .stat_label {
      color: #999;
    }
  }
</style>
