<template>
  <div class="slider-wrapper">
    <div class="color-range">
      <div class="color-value" v-for="tick in colorTicks" v-bind:style="{backgroundColor:tick.color}"></div>
    </div>
    <div class="slider-instance"></div>
   <span>{{rangeText}}</span>
  </div>
</template>

<script>
import * as d3 from 'd3'
import d3RangeSlider from './d3RangeSlider';

// Insipred from https://github.com/RasmusFonseca/d3RangeSlider
export default {

  data() {
    return {
      rangeText : '',
      colorTicks : [],
      lastRange : {}
    }
  },

  props: {
    min: Number,
    max: Number,
    colorScale: Function,
  },

  created() {
    this.generateTicks();
  },

  mounted() {
    var slider = d3RangeSlider(this.min, this.max, ".slider-instance").onChange(newRange => {
      if (newRange.begin!=this.lastRange.begin || newRange.end!=this.lastRange.end) {
        this.$emit('slider-update',newRange);
        this.lastRange = newRange;
      }
    });
  },

  methods: {
    generateTicks(){
      this.colorTicks = this.colorScale.ticks(this.max).map((tick,i)=>({
        color: this.colorScale(tick),
      }));
    }
  }
}
</script>

<style lang="scss">
  .slider-wrapper {
    margin: auto;
    position:relative;
  }
  .slider-instance {
    height: 100%;
    position:absolute;
    width: 100%;
  }
  .slider-container {
  }

  .color-range {
    position:absolute;
    width: 100%;
    display: flex;
    height: 100%;
    .color-value {
      width: 10px;
      &.selected {
        margin-top: -3px;
        box-shadow:inset 0 0 12px rgba(0,0,0,0.3);
        border-bottom: 3px solid rgba(0,0,0,0.3);
        border-top: 3px solid rgba(0,0,0,0.3);
      }
    }
  }

  .slider {
      position: absolute;
      background: rgba(0,0,0,0.5);
      height: 100%;
      width: 58px;
      top: 0px;
      cursor: move;
      box-shadow: 0 0 4px rgba(0,0,0,0.1);
  }

  .slider .handle {
      position: absolute;
      height: 100%;
      width: 6px;
  }

  .handle {
    background-color: #000;
    opacity: 0.5;
  }

  .slider .EE {
      right: 0px;
      cursor: e-resize;
  }

  .slider .WW {
      cursor: w-resize;
      left: 0px;
  }

  .slider .EE, .slider .WW {
  }
</style>
