<template>
  <div class="standalone">
    This is a standalone example of using the grid plan
    <div class="heatmap_placeholder"></div>
  </div>
</template>

<script>
// Load the dist Heatmap
import Heatmap from '@/js/grid-plan-heatmap/GridPlanHeatmap.js'

// Vitamins related files
import vitaminsRaw from '@/data/heatmap-vitamins-cfp7.txt'
import hexToRgb from '@/examples/madfast/hexToRgb.js'
const vitamins = JSON.parse(vitaminsRaw);

// Load plugins
import OverlayPlugin from '@/js/grid-plan-plugins/overlay/plugin-overlay'

export default {

  data() {
    return {}
  },

  mounted() {

    // Create data array
    const data = vitamins.dissimilarities.flat().map((value,index) => ({
      value,
      index,
      color : hexToRgb(vitamins.colorScale.colors[ Math.round(1000 * value) ]),
      hexColor : vitamins.colorScale.colors[Math.round(1000 * value)],
    }))

    // Heatmap option
    const options = {
      viewPortWidth  : 1000,
      viewPortHeight : 600,
      cellSize       : 20,
      rows           : vitamins.dissimilarities.length,
      columns        : vitamins.dissimilarities[0].length,
    }

    const plugins = [ OverlayPlugin ];

    let config = { data, options, plugins }
    let heatmap = Heatmap('.heatmap_placeholder', config);
  },

}
</script>

<style lang="scss">
  body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    overflow: hidden;
  }
  .standalone {
    margin: 100px;
    .heatmap_placeholder {
      height: 300px;
      width: 300px;
    }
  }
</style>
