<template>
  <div v-wheel="handleWheel" v-bind:style="viewportStyle" class="grid-plan-wrapper">
    <div class="interaction-zone" v-bind:style="viewportStyle">
      <div class="canvas-placeholder"></div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
import GridPlanModel from '@/js/grid-plan-model/GridPlanModel'
import Hammer from 'hammerjs'
import CanvasRenderer from './renderers/CanvasRenderer'
import SvgRenderer from './renderers/SvgRenderer'
import ReglRenderer from './renderers/ReglRenderer'

const EventHooks = {
  create : 'onCreate',
  beforeRender : 'beforeRender',
  afterRender : 'afterRender',
  pan : 'onPan',
  panEnd : 'onPanEnd',
  zoom : 'onZoom',
  zoomEnd : 'onZoomEnd',
  destroy : 'onDestroy',
  dataChange : 'onDataChange',
  optionChange : 'onOptionChange'
};

export default {

  data() {
    return {
      renderer          : undefined,
      renderedCellCount : 0,
      model             : undefined,
      originalOffset    : undefined,
      wheelTimeout      : undefined,
    }
  },

  props: {
    data: {
      type: Array,
      required: true
    },
    options: {
      type: Object,
      required: true
    },
    rendererType: {
      type: String,
      required: false
    },

    plugins: {
      type: Array,
      required: false
    },
  },

  watch : {
    rendererType : function (newValue,oldValue)  {
      this.initiateRenderer();
    },
    data : function (newValue,oldValue)  {
      this.emitEvent(EventHooks.dataChange);
      this.initiateRenderer();
    },
    options : function (newValue,oldValue)  {
      this.model.setDefaults(this.gridplanOptions);
      this.emitEvent(EventHooks.optionChange,oldValue);
      this.initiateRenderer();
    },

  },

  computed: {
    gridplanOptions() {
      let defaultOptions = {
        viewPortWidth  : 99,
        viewPortHeight : 99,
        cellSize : 20,
        rows: 0,
        columns : 0,
        defaultOffset: {
          x: 200,
          y: 200
        }
      };

      let gridOptions = Object.assign(defaultOptions,this.options);
      gridOptions.viewPortWidth = gridOptions.viewPortWidth+2*gridOptions.defaultOffset.x;
      gridOptions.viewPortHeight = gridOptions.viewPortHeight+2*gridOptions.defaultOffset.y;

      return gridOptions;
    },

    viewportStyle() {
      return {
        width: this.options.viewPortWidth + 'px',
        height: this.options.viewPortHeight + 'px'
      }
    }
  },

  created() {
    this.model = new GridPlanModel(this.gridplanOptions);
  },

  mounted() {
    this.setupHammerJS();
    this.emitEvent(EventHooks.create,this.$el);
    this.initiateRenderer();
  },

  methods: {
    setupHammerJS() {
      let hammertime = new Hammer(this.$el);
      hammertime.get('pan').set({ threshold: 1 });
      hammertime.on('panstart', this.handlePanStart);
      hammertime.on('pan', this.handlePan);
      hammertime.on('panend', this.handlePanEnd);
    },

    handleWheel(event) {
      if (this.$el.contains(event.target)) {
        let delta = event.deltaY
        let heatMapBB = this.$el.getBoundingClientRect();
        let viewPortX = event.clientX - heatMapBB.left;
        let viewPortY = event.clientY - heatMapBB.top;

        let zoomCoordinates = {
          delta : delta,
          x     : viewPortX,
          y     : viewPortY,
        };

        // Update model
        this.model.zoomTo(zoomCoordinates);

        if (this.wheelTimeout) {
          clearTimeout(this.wheelTimeout);
        }
        else {
          this.startingOffset = Object.assign({},this.model.viewport);
          this.startingZoom = Object.assign({},this.model.zoom);
        }

        let zoomDifference = this.model.zoom.horizontalZoom/this.startingZoom.horizontalZoom;
        let offsetDeltaX = (this.model.viewport.offsetX - this.startingOffset.offsetX * zoomDifference);
        let offsetDeltaY = (this.model.viewport.offsetY - this.startingOffset.offsetY * zoomDifference);
        this.applyCSSTransform(offsetDeltaX,offsetDeltaY,zoomDifference);
        this.emitEvent(EventHooks.zoom);

        // After the debounce time, update canvas with the real model
        this.wheelTimeout = setTimeout(()=>{
          this.wheelTimeout = undefined;
          this.emitEvent(EventHooks.zoomEnd);
          this.renderGridPlan();
        },200);
      }
    },

    handlePanStart(e) {
      this.originalOffset = {
        x : this.model.viewport.offsetX,
        y : this.model.viewport.offsetY
      }
    },

    handlePan(e) {
      let newOffset = {
        x : this.originalOffset.x + e.deltaX,
        y : this.originalOffset.y + e.deltaY
      }
      this.model.setOffset(newOffset);
      this.applyCSSTransform(e.deltaX,e.deltaY);
      this.emitEvent(EventHooks.pan);
    },

    handlePanEnd(e) {
      this.emitEvent(EventHooks.panEnd);
      this.renderGridPlan();
    },

    applyCSSTransform(x,y,scale = 1) {
      let element = document.querySelector('.interaction-zone');
      element.style.transformOrigin = `0 0`;
      element.style.transform = `translate(${x}px,${y}px) scale(${scale})`;
    },

    resetCSSTransform() {
      let element = document.querySelector('.interaction-zone');
      element.style.transform = `translate(0,0) scale(1)`;
    },

    renderGridPlan() {
      this.emitEvent(EventHooks.beforeRender);
      this.resetCSSTransform();
      this.renderer.beforeRender();

      this.renderedCellCount = 0;
      let visibleCells = [];
      let XstartIndex = this.model.visibleIndices.xStart;
      let Xcount = this.model.visibleIndices.xCount;
      let YstartIndex = this.model.visibleIndices.yStart;
      let Ycount = this.model.visibleIndices.yCount;

      for(let rowIndex=XstartIndex; rowIndex<XstartIndex+Xcount; rowIndex++){
        for(let columnIndex=YstartIndex; columnIndex<YstartIndex+Ycount; columnIndex++){
          // Transform x,y positions to array index
          let index = rowIndex*this.options.rows + columnIndex;
          let cell = this.data[index];
          if (cell) {
            let origIndex = cell.index;
            let x = Math.floor(origIndex / this.options.rows);
            let y = origIndex % this.options.columns;
            this.updateCellPosition(cell,x,y);
            // TODO: update cell position should be injectable from outside,
            // because there can be different strategies how the position of a cell is displayed
            // this.updateCellPosition(cell,rowIndex,columnIndex);

            this.renderer.renderCell(cell);
            visibleCells.push(cell);
            this.renderedCellCount++;
          }
        }
      }

      this.renderer.afterRender(visibleCells);
      this.emitEvent(EventHooks.afterRender,visibleCells);
    },

    updateCellPosition(cell,x,y) {
      cell.x = x*this.model.cellWidth + this.model.fullOffsetX;
      cell.y = y*this.model.cellHeight + this.model.fullOffsetY;
    },

    initiateRenderer() {
      // Destroy the canvas created by the previous renderer
      if (this.renderer) {
        this.renderer.destroy();
      }

      let container = document.querySelector('.canvas-placeholder');

      // Instantiate a new renderer
      switch(this.rendererType) {
        case "svg" :
          this.renderer = new SvgRenderer(container,this.model);
        break;

        case "canvas" :
          this.renderer = new CanvasRenderer(container,this.model);
        break;

        default:
          this.renderer = new ReglRenderer(container,this.model);
        break;
      }

      // Re-render
      this.renderGridPlan();
    },

    emitEvent(eventName,...args) {
      if (this.plugins && this.plugins.forEach){
        this.plugins.forEach((plugin)=> {
          if (typeof plugin[eventName]=='function') {
            plugin[eventName](this.model,...args);
          }
        })
      }
    },
  }

}
</script>

<style lang="scss" scoped="true">
  .grid-plan-wrapper {
    overflow: hidden;
    user-select: none;
    position:relative;
    .interaction-zone {
      position: relative;
    }
    canvas {
      image-rendering: pixelated;
    }
  }
</style>
