<template>
  <heatmap v-bind:options="gridplanOptions" v-bind:data="$root.$data.data" rendererType="regl" class="grid-plan-heatmap-app" v-bind:plugins="$root.plugins">
    <div class="cell-container" v-bind:style="cellContainerStyle"></div>
  </heatmap>
</template>

<script>
import Heatmap from '@/js/grid-plan-renderer/GridPlanRenderer.vue'

export default {
  components: {
    'heatmap': Heatmap,
  },

  data() {
    return {
      viewPortHeight: 0,
      viewPortWidth: 0,
    }
  },

  computed: {
    gridplanOptions() {
      return {
        viewPortWidth  : this.$root.$data.options.viewPortWidth,
        viewPortHeight : this.$root.$data.options.viewPortHeight,
        cellSize : this.$root.$data.options.cellSize,
        rows: this.$root.$data.options.rows,
        columns : this.$root.$data.options.columns,
        defaultOffset: {
          x: 200,
          y: 200
        }
      }
    },

    cellContainerStyle() {
      return {
        top: `-${this.gridplanOptions.defaultOffset.y}px`,
        left: `-${this.gridplanOptions.defaultOffset.x}px`
      }
    },
  },

  created() {
    // window.addEventListener('resize', this.handleResize);
  },

  mounted() {
    this.setViewportSize();
  },

  methods: {
    handleResize() {
      this.setViewportSize();
    },

    setViewportSize() {
      this.viewPortHeight = this.$el.offsetHeight;
      this.viewPortWidth = this.$el.offsetWidth;
    },
  }
}
</script>

<style lang="scss" scoped="true">
  .cell-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    transform-origin: top left;
  }
</style>
