<template>
  <div class="app madfast-demo">
    <heatmap v-bind:options="gridplanOptions" v-bind:data="data" v-bind:plugins="plugins" rendererType="regl">
      <div class="cell-container" v-bind:style="cellContainerStyle"></div>
    </heatmap>
  </div>
</template>

<script>
import Heatmap from '@/js/grid-plan-renderer/GridPlanRenderer.vue'
import vitaminsRaw from '@/data/heatmap-vitamins-cfp7.txt'
import hexToRgb from './hexToRgb.js'
import OverlayPlugin from '@/js/grid-plan-plugins/overlay/plugin-overlay'
import MinimapPlugin from '@/js/grid-plan-plugins/minimap/plugin-minimap'

const vitamins = JSON.parse(vitaminsRaw);

export default {
  components: {
    'heatmap': Heatmap,
  },

  data() {
    return {
      data : [],
      visibleCells : [],
      viewPortHeight: 0,
      viewPortWidth: 0,
      model : undefined,
      plugins : [OverlayPlugin,MinimapPlugin]
    }
  },

  computed: {
    gridplanOptions() {
      return {
        viewPortWidth  : this.viewPortWidth,
        viewPortHeight : this.viewPortHeight,
        cellSize : 20,
        rows: vitamins.dissimilarities.length,
        columns : vitamins.dissimilarities[0] ? vitamins.dissimilarities[0].length : 0,
        defaultOffset: {
          x: 300,
          y: 300
        }
      }
    },

    cellContainerStyle() {
      return {
        top: `-${this.gridplanOptions.defaultOffset.y}px`,
        left: `-${this.gridplanOptions.defaultOffset.x}px`
      }
    },
  },

  created() {
    this.prepareData();
    window.addEventListener('resize', this.handleResize);
  },

  mounted() {
    this.setViewportSize();
  },

  methods: {
    prepareData() {
      this.data = vitamins.dissimilarities.flat().map((value,index) => ({
        value,
        index,
        color : hexToRgb(vitamins.colorScale.colors[ Math.round(1000 * value) ]),
        hexColor : vitamins.colorScale.colors[Math.round(1000 * value)],
      }))
    },

    handleResize() {
      this.setViewportSize();
    },

    setViewportSize() {
      this.viewPortHeight = this.$el.offsetHeight;
      this.viewPortWidth = this.$el.offsetWidth;
    },
  }

}
</script>

<style lang="scss">
  $canvas-margin: 50px;

  body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    overflow: hidden;
  }
  .app {
    margin: $canvas-margin;
    width: calc(100% - 2*#{$canvas-margin});
    height: calc(100% - 2*#{$canvas-margin});
    .cell-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left:0;
      transform-origin: top left;
    }
    .grid-plan-wrapper {
      background-color:white;
      border-radius: 10px;
    }
  }
</style>
